<header class="header">
  <div class="container">
    <div class="row flex-end">
      <button type="button" class="nav-toggler">
        <span></span>
      </button>
      <nav class="nav">
        <div class="nav-inner">
          <ul>
            <li><a href="/" class="nav-item link-item">Home</a></li>
            <li><a href="/#about" class="nav-item link-item">About</a></li>
            <li><a href="/#work" class="nav-item link-item">Work</a></li>
            <li><a href="/alomole" class="nav-item">Alomole</a></li>
            <li><a href="/classnotes" class="nav-item">ClassNotes</a></li>
            <li><a href="/tickly" class="nav-item">Tickly</a></li>
            <li><a href="/#contact" class="nav-item link-item">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
